In [1]:
import pandas as pd
import numpy as np

In [2]:
d = {"A":[1, 2, 3], "B":[5, np.nan, np.nan], "C": [7, np.nan,4]}

In [20]:
df = pd.DataFrame(d)

In [21]:
df

   A    B    C
0  1  5.0  7.0
1  2  NaN  NaN
2  3  NaN  4.0

In [5]:
df.dropna()

   A    B    C
0  1  5.0  7.0

In [10]:
df.dropna(thresh=1)

   A    B    C
0  1  5.0  7.0
1  2  NaN  NaN
2  3  NaN  4.0

In [14]:
df.mean()

A    2.0
B    5.0
C    5.5
dtype: float64

In [16]:
df["C"].fillna(df["C"].mean(), inplace=True)

In [18]:
df["B"].fillna(df["B"].mean(), inplace=True)

In [22]:
df.fillna(df.mean(), inplace=True)

In [23]:
df

   A    B    C
0  1  5.0  7.0
1  2  5.0  5.5
2  3  5.0  4.0