In [2]:
import numpy as np
import pandas as pd

from numpy.random import randn

np.random.seed(101)

In [5]:
outside = ["G1", "G1", "G1", "G2", "G2", "G2"]
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))

In [6]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [7]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [8]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [9]:
df = pd.DataFrame(randn(6,2), hier_index, ["A", "B"])

In [10]:
df

             A         B
G1 1  2.706850  0.628133
   2  0.907969  0.503826
   3  0.651118 -0.319318
G2 1 -0.848077  0.605965
   2 -2.018168  0.740122
   3  0.528813 -0.589001

In [14]:
df.index.names

FrozenList([None, None])

In [15]:
df.index.names = ["Group", "num"]

In [16]:
df

                  A         B
Group num
G1    1    2.706850  0.628133
      2    0.907969  0.503826
      3    0.651118 -0.319318
G2    1   -0.848077  0.605965
      2   -2.018168  0.740122
      3    0.528813 -0.589001

In [19]:
df.loc["G1"].loc[1]

A    2.706850
B    0.628133
Name: 1, dtype: float64

In [20]:
df.loc["G2"].loc[1]

A   -0.848077
B    0.605965
Name: 1, dtype: float64